/* ==========================================================================
   Boilerplate CSS file for layout styles
   ========================================================================== */

/* ==========================================================================
   Layout (page-level grids, flex containers, major page regions like header, footer, sidebar)
   ========================================================================== */
/* #region */

.top-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-right: 14.5%;
}

.grids-container {
    margin-top: 5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.1fr 0.1fr;
    justify-items: center;
    align-items: center;
    padding: 0 5vw;
}

.grids-container.visible {
    display: grid;
}

.player-grid,
.player-grid-label {
    grid-column: 1;
}

.player-grid,
.opponent-grid {
    grid-row: 1;
    border: 1px solid white;
}

.player-grid-label,
.opponent-grid-label {
    margin-top: 1rem;
    grid-row: 2;
}

.opponent-grid,
.opponent-grid-label {
    grid-column: 2;
}

.player-grid,
.opponent-grid {
    display: grid;
    width: 30vw;
    height: 30vw;
}

.ship-count-container {
    grid-column: 2;
    grid-row: 3;
}

/* Media queries for responsive layout: go here, because the layout is what changes at breakpoints: */
@media (max-width: 768px) {
    .layout {
        grid-template-columns: 1fr;
    }
}

/* Avoid putting component-specific media queries here — keep layout-related responsiveness separate. */

/* #endregion */
